{% extends "layout.html" %}

{% block content %}


<div>

    <div class="col-md-9 offset-md-1 row">
        <div class="col-md-6">
            <div class="mb-3  bg-dark">
                <form action="/buscarINI" method="POST" class="bg-dark text-light">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                    <div class="input-group mb-3">
                        <input type="text" name="BuscarI"
                            placeholder="Codigo de la iniciativa" min="0"
                            class="form-control rounded-0 bg-dark border-0 text-white">
                        <button class="btn btn-dark"> <img src="{{url_for('static', filename='img/2531409.png')}}"
                                width="30px">
                        </button>
                    </div>



                </form>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-1"></div>

      

        <div class="col-md-3">

            <form action="/SaveDoc" method="POST" class="card bg-dark text-light" enctype="multipart/form-data">
                {% include 'partials/_messages.html' %}

            

                <div class="card-body p-4">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <center class="form-control rounded-0 bg-dark border-0 text-white">
                        <h4>Guardar evidencias</h4>
                    </center>

                    <div class="mb-3">
                        <label for="Codigo">Nombre de la Iniciativa:</label>
                        <input type="text" name="Codigo" placeholder="Codigo" required
                            class="form-control  inputt bg-dark  text-white" readonly value="{{Codigo}}">

                    </div>
                    <div class="mb-4">
                        <div class="input-group mb-3">
                            <input type="file" class="form-control" id="archivo" name="archivo" accept=".xlsx, .docx, .pdf, .msg" multiple="multiple">
                        </div>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary btn-sm rounded-0">Guardar archivo</button>
                        <a href="/Volver/{{Codigo}}" class="btn btn-danger btn-sm rounded-0">Volver</a>

                    </div>

                    <div>
                        
                    </div>



                </div>

            </form>


        </div>

        <div class="col-md-7">


            <table class="table table-striped  table-bordered card card-body p-4">

                <tr>
                    <th>nombre</th>
                    <th>accion 1</th>
                </tr>

                {% for resultados in resultado%}

                <tr>

                    <td>
                        <a href="/descargarArchivos/{{Codigo}}/{{resultados.A_nombre}}">{{resultados.A_nombre}}</a>
                        </td>
                    <td>


                        <a href="/eliminarArchivos2/{{Codigo}}/{{resultados.A_nombre}}" class="btn btn-danger btn-sm rounded-0">eliminar</a>

                    </td>


                </tr>

                {% endfor %}
            </table>



        </div>

    </div>

</div>






{% endblock %}