<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eliminar</title>

    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/micss.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/alertify.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/themes/default.min.css')}}">
</head>
<body>


  





    
</body>
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='js/alertify.min.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.js')}}"></script>
<script src="{{url_for('static', filename='js/aler.js')}}"></script>
</html>

<script type="text/javascript">
  
    $(document).ready(function () {
    
        
    
    alertify.confirm('Eliminar', '¿esta seguro?', function () {
      
    
      location.href = "{{pagi2}}/{{resu.id}}"
    }
      , function () {

        location.href ="{{pagi}}"


       }).set('labels',{ok:'Si',cancel:'No'});
    
    
    
    
    })
    
    </script>