{% extends "layout.html" %}


{% block content %}

<div class="col-md-8">





    <div class="col-md-9 offset-md-1 row">
        <div class="col-md-6">
            <div class="mb-3  bg-dark">
                <form action="/buscarINI" method="POST" class="bg-dark text-light">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                    <div class="input-group mb-3">
                        <input type="text" name="BuscarI" placeholder="Codigo de la iniciativa"
                            class="form-control rounded-0 bg-dark border-0 text-white">
                        <button class="btn btn-dark"> <img src="{{url_for('static', filename='img/2531409.png')}}"
                                width="30px">
                        </button>
                    </div>



                </form>
            </div>
        </div>
    </div>


</div>
<div class="row">



    <div class="col-md-1"></div>
    <div class="col-md-10">
        {% include 'partials/_messages.html' %}

        <form action="/save" method="POST" class="card bg-dark text-light">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

            <center class="form-control rounded-0 bg-dark border-0 text-white">
                <h4>Registrar iniciativa</h4>
            </center>

            <div class="card-body p-4 row">
                <div class="col-md-2">
                    <label for="codigo">Cod iniciativa</label>

                    <input type="text" name="codigo" placeholder="ingresar codigo" required
                        class="form-control  inputt  bg-dark   text-white">

                </div>

                <div class="col-md-2">
                    <label for="Empresa">Empresa:</label>
                    <select name="Empresa" class="form-select form-select-sm inputt form-control  bg-dark  text-white">
                        <option class="form-select form-select-sm inputt form-control bg-dark  text-white">seleccionar
                        </option>
                        {% for R_empresas in R_empresa%}
                        <option value="{{R_empresas.E_nombre}}">{{R_empresas.E_nombre}}</option>
                        {% endfor %}


                    </select>
                </div>

                <div class="col-md-2">

                    <label for="ISSUE">
                        ISSUE
                    </label>
                    <br>
                    <input type="text" name="issue" placeholder="ISSUE" min="0" required
                        class="form-control bg-dark inputt  text-white">
                </div>

                <div class="col-md-5">
                    <label for="responsable">RESPONSABLE:</label>
                    <select name="responsables"
                        class="form-select form-select-sm inputt form-control  bg-dark  text-white">

                        <option class="form-select form-select-sm inputt form-control bg-dark  text-white">seleccionar
                        </option>

                        {% for Funcionalesss in Funcionaless%}


                        <option value="{{Funcionalesss.F_nombre}}">{{Funcionalesss.F_nombre}}</option>

                        {% endfor %}



                    </select>
                </div>

            </div>

            <div class="card-body p-4">

                <div class="row">
                    <div class="col-md-2">
                        <label for="fullname">Nombre</label>
                    </div>
                    <div class="col-md-5">

                        <input id="color" type="text" name="fullname" placeholder="Nombre" required
                            class="form-control  inputt  bg-dark   text-white">
                    </div>


                </div>
            </div>



            <div class="card-body p-4 row">


                <div class="col-md-2">
                    <div>
                        <h6>peticion y AP:</h6>
                    </div>
                    <br>

                    <label for="peticion">PETICION:</label>
                    <select name="peticion" class="form-select form-select-sm inputt form-control  bg-dark  text-white"
                        onchange="this.className=this.options[this.selectedIndex].className">

                        <option class="form-select form-select-sm inputt form-control bg-dark  text-white">seleccionar
                        </option>
                        <option class="form-select form-select-sm inputt form-control bg-success  text-white"
                            value="OK">OK
                        </option>
                        <option class="form-select form-select-sm inputt form-control bg-danger  text-white"
                            value="NOK">NOK
                        </option>
                        <option class="form-select form-select-sm inputt form-control bg-warning  text-white"
                            value="Pendiente">
                            Pendiente</option>
                        <option class="form-select form-select-sm inputt form-control bg-primary  text-white"
                            value="N/A">N/A
                        </option>


                    </select>

                    <div class="mb-3">
                        <label for="VoBo_oferta">VoBo oferta:</label>
                        <select name="VoBo_oferta"
                            class="form-select form-select-sm inputt form-control  bg-dark  text-white"
                            onchange="this.className=this.options[this.selectedIndex].className">

                            <option class="form-select form-select-sm inputt form-control bg-dark  text-white">
                                seleccionar</option>
                            <option class="form-select form-select-sm inputt form-control bg-success  text-white"
                                value="OK">OK
                            </option>
                            <option class="form-select form-select-sm inputt form-control bg-danger  text-white"
                                value="NOK">NOK
                            </option>
                            <option class="form-select form-select-sm inputt form-control bg-warning  text-white"
                                value="Pendiente">Pendiente</option>
                            <option class="form-select form-select-sm inputt form-control bg-primary  text-white"
                                value="N/A">
                                N/A</option>


                        </select>


                    </div>
                    <div class="mb-3">
                        <label for="VoBo_Df">VoBo Df:</label>
                        <select name="VoBo_Df"
                            class="form-select form-select-sm inputt form-control  bg-dark  text-white"
                            onchange="this.className=this.options[this.selectedIndex].className">

                            <option class="form-select form-select-sm inputt form-control bg-dark  text-white">
                                seleccionar</option>
                            <option class="form-select form-select-sm inputt form-control bg-success  text-white"
                                value="OK">OK
                            </option>
                            <option class="form-select form-select-sm inputt form-control bg-danger  text-white"
                                value="NOK">NOK
                            </option>
                            <option class="form-select form-select-sm inputt form-control bg-warning  text-white"
                                value="Pendiente">Pendiente</option>
                            <option class="form-select form-select-sm inputt form-control bg-primary  text-white"
                                value="N/A">
                                N/A</option>


                        </select>


                    </div>
                    <div class="mb-3">
                        <label for="VoBo_E380">VoBo E380:</label>
                        <select name="VoBo_E380"
                            class="form-select form-select-sm inputt form-control  bg-dark  text-white"
                            onchange="this.className=this.options[this.selectedIndex].className">

                            <option class="form-select form-select-sm inputt form-control bg-dark  text-white">
                                seleccionar</option>
                            <option class="form-select form-select-sm inputt form-control bg-success  text-white"
                                value="OK">OK
                            </option>
                            <option class="form-select form-select-sm inputt form-control bg-danger  text-white"
                                value="NOK">NOK
                            </option>
                            <option class="form-select form-select-sm inputt form-control bg-warning  text-white"
                                value="Pendiente">Pendiente</option>
                            <option class="form-select form-select-sm inputt form-control bg-primary  text-white"
                                value="N/A">
                                N/A</option>


                        </select>


                    </div>
                    <div class="mb-3">
                        <label for="VoBo_UAT">VoBo UAT:</label>
                        <select name="VoBo_UAT"
                            class="form-select form-select-sm inputt form-control  bg-dark  text-white"
                            onchange="this.className=this.options[this.selectedIndex].className">

                            <option class="form-select form-select-sm inputt form-control bg-dark  text-white">
                                seleccionar</option>
                            <option class="form-select form-select-sm inputt form-control bg-success  text-white"
                                value="OK">OK
                            </option>
                            <option class="form-select form-select-sm inputt form-control bg-danger  text-white"
                                value="NOK">NOK
                            </option>
                            <option class="form-select form-select-sm inputt form-control bg-warning  text-white"
                                value="Pendiente">Pendiente</option>
                            <option class="form-select form-select-sm inputt form-control bg-primary  text-white"
                                value="N/A">
                                N/A</option>


                        </select>


                    </div>

                </div>



                <div class="col-md-2">
                    <div>
                        <h6>Documentacion 1:</h6>
                    </div>
                    <br>
                    <label for="oferta_eco">Oferta ECO:</label>
                    <select name="oferta_eco"
                        class="form-select form-select-sm inputt form-control  bg-dark  text-white"
                        onchange="this.className=this.options[this.selectedIndex].className">

                        <option class="form-select form-select-sm inputt form-control bg-dark  text-white">seleccionar
                        </option>
                        <option class="form-select form-select-sm inputt form-control bg-success  text-white"
                            value="OK">OK
                        </option>
                        <option class="form-select form-select-sm inputt form-control bg-danger  text-white"
                            value="NOK">NOK
                        </option>
                        <option class="form-select form-select-sm inputt form-control bg-warning  text-white"
                            value="Pendiente">
                            Pendiente</option>
                        <option class="form-select form-select-sm inputt form-control bg-primary  text-white"
                            value="N/A">N/A
                        </option>


                    </select>

                    <div class="mb-3">
                        <label for="oferta_tec">oferta TEC:</label>
                        <select name="oferta_tec"
                            class="form-select form-select-sm inputt form-control  bg-dark  text-white"
                            onchange="this.className=this.options[this.selectedIndex].className">

                            <option class="form-select form-select-sm inputt form-control bg-dark  text-white">
                                seleccionar</option>
                            <option class="form-select form-select-sm inputt form-control bg-success  text-white"
                                value="OK">OK
                            </option>
                            <option class="form-select form-select-sm inputt form-control bg-danger  text-white"
                                value="NOK">NOK
                            </option>
                            <option class="form-select form-select-sm inputt form-control bg-warning  text-white"
                                value="Pendiente">Pendiente</option>
                            <option class="form-select form-select-sm inputt form-control bg-primary  text-white"
                                value="N/A">
                                N/A</option>


                        </select>


                    </div>
                    <div class="mb-3">
                        <label for="estimador">Estimador:</label>
                        <select name="estimador"
                            class="form-select form-select-sm inputt form-control  bg-dark  text-white"
                            onchange="this.className=this.options[this.selectedIndex].className">

                            <option class="form-select form-select-sm inputt form-control bg-dark  text-white">
                                seleccionar</option>
                            <option class="form-select form-select-sm inputt form-control bg-success  text-white"
                                value="OK">OK
                            </option>
                            <option class="form-select form-select-sm inputt form-control bg-danger  text-white"
                                value="NOK">NOK
                            </option>
                            <option class="form-select form-select-sm inputt form-control bg-warning  text-white"
                                value="Pendiente">Pendiente</option>
                            <option class="form-select form-select-sm inputt form-control bg-primary  text-white"
                                value="N/A">
                                N/A</option>


                        </select>


                    </div>
                    <div class="mb-3">
                        <label for="Plan_interno">Plan interno:</label>
                        <select name="Plan_interno"
                            class="form-select form-select-sm inputt form-control  bg-dark  text-white"
                            onchange="this.className=this.options[this.selectedIndex].className">

                            <option class="form-select form-select-sm inputt form-control bg-dark  text-white">
                                seleccionar</option>
                            <option class="form-select form-select-sm inputt form-control bg-success  text-white"
                                value="OK">OK
                            </option>
                            <option class="form-select form-select-sm inputt form-control bg-danger  text-white"
                                value="NOK">NOK
                            </option>
                            <option class="form-select form-select-sm inputt form-control bg-warning  text-white"
                                value="Pendiente">Pendiente</option>
                            <option class="form-select form-select-sm inputt form-control bg-primary  text-white"
                                value="N/A">
                                N/A</option>


                        </select>


                    </div>
                    <div class="mb-3">
                        <label for="riesgos_prod">Riesgos de prod:</label>
                        <select name="riesgos_prod"
                            class="form-select form-select-sm inputt form-control  bg-dark  text-white"
                            onchange="this.className=this.options[this.selectedIndex].className">

                            <option class="form-select form-select-sm inputt form-control bg-dark  text-white">
                                seleccionar</option>
                            <option class="form-select form-select-sm inputt form-control bg-success  text-white"
                                value="OK">OK
                            </option>
                            <option class="form-select form-select-sm inputt form-control bg-danger  text-white"
                                value="NOK">NOK
                            </option>
                            <option class="form-select form-select-sm inputt form-control bg-warning  text-white"
                                value="Pendiente">Pendiente</option>
                            <option class="form-select form-select-sm inputt form-control bg-primary  text-white"
                                value="N/A">
                                N/A</option>


                        </select>


                    </div>

                </div>

                <div class="col-md-2">
                    <div>
                        <h6>Documentacion 2</h6>
                    </div>
                    <label>Documento:</label>
                    <label for="Dis_funcional">Diseño funcional:</label>
                    <select name="Dis_funcional"
                        class="form-select form-select-sm inputt form-control  bg-dark  text-white"
                        onchange="this.className=this.options[this.selectedIndex].className">

                        <option class="form-select form-select-sm inputt form-control bg-dark  text-white">seleccionar
                        </option>
                        <option class="form-select form-select-sm inputt form-control bg-success  text-white"
                            value="OK">OK
                        </option>
                        <option class="form-select form-select-sm inputt form-control bg-danger  text-white"
                            value="NOK">NOK
                        </option>
                        <option class="form-select form-select-sm inputt form-control bg-warning  text-white"
                            value="Pendiente">
                            Pendiente</option>
                        <option class="form-select form-select-sm inputt form-control bg-primary  text-white"
                            value="N/A">N/A
                        </option>


                    </select>

                    <div class="mb-3">
                        <label for="Dis_tec">Diseño Tecnico:</label>
                        <select name="Dis_tec"
                            class="form-select form-select-sm inputt form-control  bg-dark  text-white"
                            onchange="this.className=this.options[this.selectedIndex].className">

                            <option class="form-select form-select-sm inputt form-control bg-dark  text-white">
                                seleccionar</option>
                            <option class="form-select form-select-sm inputt form-control bg-success  text-white"
                                value="OK">OK
                            </option>
                            <option class="form-select form-select-sm inputt form-control bg-danger  text-white"
                                value="NOK">NOK
                            </option>
                            <option class="form-select form-select-sm inputt form-control bg-warning  text-white"
                                value="Pendiente">Pendiente</option>
                            <option class="form-select form-select-sm inputt form-control bg-primary  text-white"
                                value="N/A">
                                N/A</option>


                        </select>


                    </div>
                    <div class="mb-3">
                        <label for="Set_prueba">Set de prueba:</label>
                        <select name="Set_prueba"
                            class="form-select form-select-sm inputt form-control  bg-dark  text-white"
                            onchange="this.className=this.options[this.selectedIndex].className">

                            <option class="form-select form-select-sm inputt form-control bg-dark  text-white">
                                seleccionar</option>
                            <option class="form-select form-select-sm inputt form-control bg-success  text-white"
                                value="OK">OK
                            </option>
                            <option class="form-select form-select-sm inputt form-control bg-danger  text-white"
                                value="NOK">NOK
                            </option>
                            <option class="form-select form-select-sm inputt form-control bg-warning  text-white"
                                value="Pendiente">Pendiente</option>
                            <option class="form-select form-select-sm inputt form-control bg-primary  text-white"
                                value="N/A">
                                N/A</option>


                        </select>


                    </div>
                    <div class="mb-3">
                        <label for="E380">E380:</label>
                        <select name="E380" class="form-select form-select-sm inputt form-control  bg-dark  text-white"
                            onchange="this.className=this.options[this.selectedIndex].className">

                            <option class="form-select form-select-sm inputt form-control bg-dark  text-white">
                                seleccionar</option>
                            <option class="form-select form-select-sm inputt form-control bg-success  text-white"
                                value="OK">OK
                            </option>
                            <option class="form-select form-select-sm inputt form-control bg-danger  text-white"
                                value="NOK">NOK
                            </option>
                            <option class="form-select form-select-sm inputt form-control bg-warning  text-white"
                                value="Pendiente">Pendiente</option>
                            <option class="form-select form-select-sm inputt form-control bg-primary  text-white"
                                value="N/A">
                                N/A</option>


                        </select>


                    </div>
                    <div class="mb-3">
                        <label for="Prue_Uni">Pruebas Unitarias:</label>
                        <select name="Prue_Uni"
                            class="form-select form-select-sm inputt form-control  bg-dark  text-white"
                            onchange="this.className=this.options[this.selectedIndex].className">

                            <option class="form-select form-select-sm inputt form-control bg-dark  text-white">
                                seleccionar</option>
                            <option class="form-select form-select-sm inputt form-control bg-success  text-white"
                                value="OK">OK
                            </option>
                            <option class="form-select form-select-sm inputt form-control bg-danger  text-white"
                                value="NOK">NOK
                            </option>
                            <option class="form-select form-select-sm inputt form-control bg-warning  text-white"
                                value="Pendiente">Pendiente</option>
                            <option class="form-select form-select-sm inputt form-control bg-primary  text-white"
                                value="N/A">
                                N/A</option>


                        </select>


                    </div>

                    <label for="Guia_integracion">Guia de integracion:</label>
                    <select name="Guia_integracion"
                        class="form-select form-select-sm inputt form-control  bg-dark  text-white"
                        onchange="this.className=this.options[this.selectedIndex].className">
                        <option class="form-select form-select-sm inputt form-control bg-dark  text-white">seleccionar
                        </option>
                        <option class="form-select form-select-sm inputt form-control bg-success  text-white"
                            value="OK">OK
                        </option>
                        <option class="form-select form-select-sm inputt form-control bg-danger  text-white"
                            value="NOK">NOK
                        </option>
                        <option class="form-select form-select-sm inputt form-control bg-warning  text-white"
                            value="Pendiente">
                            Pendiente</option>
                        <option class="form-select form-select-sm inputt form-control bg-primary  text-white"
                            value="N/A">N/A
                        </option>

                    </select>

                </div>
                <div class="col-md-2">

                    <div>
                        <h6>Documentacion 3</h6>
                    </div>
                    <label>Check list:</label>
                    <div class="mb-3">
                        <label for="C_dis_fun">Diseño funcional:</label>
                        <select name="C_dis_fun"
                            class="form-select form-select-sm inputt form-control  bg-dark  text-white"
                            onchange="this.className=this.options[this.selectedIndex].className">

                            <option class="form-select form-select-sm inputt form-control bg-dark  text-white">
                                seleccionar</option>
                            <option class="form-select form-select-sm inputt form-control bg-success  text-white"
                                value="OK">OK
                            </option>
                            <option class="form-select form-select-sm inputt form-control bg-danger  text-white"
                                value="NOK">NOK
                            </option>
                            <option class="form-select form-select-sm inputt form-control bg-warning  text-white"
                                value="Pendiente">Pendiente</option>
                            <option class="form-select form-select-sm inputt form-control bg-primary  text-white"
                                value="N/A">
                                N/A</option>


                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="C_dis_tec">Diseño Tecnico:</label>
                        <select name="C_dis_tec"
                            class="form-select form-select-sm inputt form-control  bg-dark  text-white"
                            onchange="this.className=this.options[this.selectedIndex].className">

                            <option class="form-select form-select-sm inputt form-control bg-dark  text-white">
                                seleccionar</option>
                            <option class="form-select form-select-sm inputt form-control bg-success  text-white"
                                value="OK">OK
                            </option>
                            <option class="form-select form-select-sm inputt form-control bg-danger  text-white"
                                value="NOK">NOK
                            </option>
                            <option class="form-select form-select-sm inputt form-control bg-warning  text-white"
                                value="Pendiente">Pendiente</option>
                            <option class="form-select form-select-sm inputt form-control bg-primary  text-white"
                                value="N/A">
                                N/A</option>


                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="C_E380">E380:</label>
                        <select name="C_E380"
                            class="form-select form-select-sm inputt form-control  bg-dark  text-white"
                            onchange="this.className=this.options[this.selectedIndex].className">
                            <option class="form-select form-select-sm inputt form-control bg-dark  text-white">
                                seleccionar</option>
                            <option class="form-select form-select-sm inputt form-control bg-success  text-white"
                                value="OK">OK
                            </option>
                            <option class="form-select form-select-sm inputt form-control bg-danger  text-white"
                                value="NOK">NOK
                            </option>
                            <option class="form-select form-select-sm inputt form-control bg-warning  text-white"
                                value="Pendiente">Pendiente</option>
                            <option class="form-select form-select-sm inputt form-control bg-primary  text-white"
                                value="N/A">
                                N/A</option>


                        </select>


                    </div>



                </div>

                <div class="col-md-3">
                    <br>
                    <br>
                    <div class="mb-4">

                        <label for="observaciones">observaciones:</label>
                        <textarea name="observaciones" class="form-control" aria-label="With textarea"
                            required></textarea>
                    </div>
                    <button class="btn btn-primary btn-sm rounded-0">Guardar</button>
                </div>
            </div>

        </form>

    </div>

</div>

{%endblock%}