<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url_for('static', filename='img/imagenicono.png')}}" />
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/micss.css')}}">
</head>

<body>

    <div class="row">


        <div class="col-md-4 offset-md-4">
            <br>
            <br>
            <br>
            <br>
            <br>
            {% include 'partials/_messages2.html' %}
            <form action="/logeo" method="POST" class="card bg-dark text-light">
                <center class="form-control rounded-0 bg-dark border-0 text-white">
                    <h2>LOGIN</h2>
                </center>

                <div class="cardy-body p-4">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">


                    <div class="mb-3">

                        <label for="usuario">Documento:</label>

                        <input type="text" name="usuario" placeholder="Usuario" required
                            class="form-control  inputt bg-dark  text-white">


                    </div>

                    <div class="mb-3">
                        <label for="contrasena">Contraseña:</label>
                        <input type="password" name="contrasena" placeholder="Contraseña" required
                            class="form-control  inputt bg-dark  text-white">


                    </div>
                    <center>
                        <div class="mb-3">
                            <button class="btn btn-primary">entrar</button>


                        </div>
                    </center>

                </div>
            </form>
        </div>

    </div>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>

</body>

</html>